#banner {
    background:
      url("https://images.unsplash.com/photo-1518291344630-4857135fb581?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat;
     background-size: cover;
     height: 400px;
     background-position: 0;
   }
   
   @media screen and (max-width:768px){
     
    #banner {
     background-size: cover;
     height: 300px;
     background-position: right bottom;
   } 
     
   #banner h1{
     font-size: 3.2rem !important;
   }
    
     #banner p{
       padding:0.5rem;
       text-align: center;
     }
     
   }
   
   
   h5.card-title{
     line-height:1.6rem;
   }
   
   
   #footer a {
       padding: 0.8rem;
   }