#banner {
 background:
   url("https://siplay-website-content-user.s3.amazonaws.com/Portal/2286/Content/Graphics/Banner-Dance.jpg") no-repeat;
  height: 400px;
  background-position: 0 0;
  background-size: cover;
}

@media screen and (max-width:768px){
  
 #banner {
  background-size: cover;
  height: 300px;
  background-position: right bottom;
} 
  
#banner h1{
  font-size: 3.2rem !important;
}
 
  #banner p{
    padding:0.5rem;
    text-align: center;
  }
  
}


h5.card-title{
  line-height:1.6rem;
}


#footer a {
    padding: 0.8rem;
}

.img-thumbnail {
  width: 100%;
}

#background {
  background: rgb(36, 35, 35);
  color: rgb(0, 225, 255);
  border-radius: 15px;
}

#background h1 {
  text-transform: uppercase;
  font-family: 'Krona One', sans-serif;
}
#background p {
  font-size: 1.3em;
  font-family: 'David Libre', serif;
}
.btn.btn-primary.mb-3 {
  width: 100%;
}