#banner {
	background: url("https://siplay-website-content-user.s3.amazonaws.com/Portal/2286/Content/Graphics/Banner-Dance.jpg")
		no-repeat;
	height: 400px;
	background-position: 0 0;
	background-size: cover;
}

@media screen and (max-width: 768px) {
	#banner {
		background-size: cover;
		height: 300px;
		background-position: right bottom;
	}

	#banner h1 {
		font-size: 3.2rem !important;
	}

	#banner p {
		padding: 0.5rem;
		text-align: center;
	}
}

h5.card-title {
	line-height: 1.6rem;
}

#footer a {
	padding: 0.8rem;
}

/* Footer css start */

.footer {
	background-color: #dddddd;
	height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer div {
	flex: 0.9;
	align-content: center;
	align-items: center;
}

.footer p {
	margin: 0;
	padding: 10;
}

/* Footer css end*/
