#banner {
 background:
   url("https://venturebeat.com/wp-content/uploads/2014/04/tw-smb.png?fit=1500%2C500&strip=all") no-repeat;
  height: 400px;
  background-position: 0 0;
  background-size: cover;
}

@media screen and (max-width:768px){
  
 #banner {
  background-size: cover;
  height: 300px;
  background-position: right bottom;
} 
  
#banner h1{
  font-size: 3.2rem !important;
}
 
  #banner p{
    padding:0.5rem;
    text-align: center;
  }
  
}


h5.card-title{
  line-height:1.6rem;
}


#footer a {
    padding: 0.8rem;
}
