#banner {
 background:
   url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxQSEhUTExQVFRUVGBYYGBYWFxcaFxgYFRUYGhUWFhgaHSggGholGxMXITEiJSkrLi8uGB8zODMtNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAIIBggMBIgACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAABAUBAwYCB//EAEAQAAEDAgQDBgMFBgMJAAAAAAEAAhEDIQQFEjFBUWEGEyJxgaEyQpFScrHB0RQjYoKy8CQzkgcVNEOTo8LS4f/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwD4aiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiyAsIMgLCyFhBlbX4chodIIPI3FyII4bFaVNqO73S2mwN0tAgOJLyJJdfc32CC/8A9nGA7zEmodqTSf5neEe2r6Lq+03aN+E1AtYS4Dub9PGag5A8t5HVU/8As9wr3YesabhTe57Wh5aHWaASAD973XMdrMxNfFVHT4QdDfutt7mT6oJOG7ZYptXvHVC8TdhjSRyAjw+YXR9rKTapY5u2JoeHq+nD2epDiPRfO13/AGnoPpYLBvDo7oU/DF9RZMzytEdUHD0MS9k6TEiDt/YWWUXBveaZbIbPCSCY9l0GFyRtevr2pPHeQOZPiZ6GVP7UaGUWUmgC8ho4AA390HElYU11IclDIQYWV7pUXOMNBceQBP4KW3KKvEBv3nNHsTKCAi7js7kdNjdbtNR/oWt8uvVae0OZ4YSzu2VXdIAb/MLz5IONRZcUQYREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBZcsLYx4AIIQeWOg7Sjt7LyvRag90WSVJFMcgo+GdfzUpBHrUIuFrZO4nw3kcOqtcJgjU4wNp5k8ArI/s4oCnDg4GNWgzIJ3JH8UcNkHSZGwMwNarGkkPqS2zhqpU3EA8PE32C+fNayrIa3Q8CQAZDo3F9ivoOGZ/gcTSbfSwtEcdNMN/wDBcBh6BpHW+0A6W8SSIFuV0Hrs9lpxGIp0uBMu6NF3fp6r6D2+oaqDWNsXVG7k2DWuvH0WOwmQ9xS714IqVQLGxa3gOhO59FWdpMwqgMNZjWEOcAxpk6SLPJ6xt062CDloqUaT2McCQC5pjYj4hHUX9FVYNz6lZp1AuJ+J5AEReSeESptLMwajA0GNQmeRMEe6hHCAOeX2Y1xFt3EH4W/rwQZ/YXvJIAgbusG2tq6CyjVzSpmw713MyKY8hu71hS6uaEt0AAN4AcB+Z6qpxDrjj0Qe62Z1HCNWlv2WeFv0G/qvOFq6AXRJNhPuoxKy50+iDbVxTncSOgsFoREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBZhYXtjo/MINmFoB7w1z2sH2nTA+i6DFdlIp66dUPgTeA0joZt6rmnkTawXtlR0aQTB+UEx9EG4ZfU4AHyc0/gVio57fiaR5ghZw+EknvD3bQJ1FrjxAgAcbrbVqCmB3VV7hcHU0NbaPl1GRfjCC2pt8dJvBrdcc3AiF0NSox41/M25H4DreFzWCxIrBtwyqyw+y4ciOXltyVh37wx37o6tTREjSbOMh3EWQWXZNwD8TRJOl7A7YmC7UHbecrV2S7JhrxVxDmlw+GnMweBd15BTOz2SYimXVCAH1Bd2qC0WjSADMRsYm66mnUcGDW2XhoLtNxPHSTE+SDeTzXC53iDXc14cWtc2WgRtqeATI3IAsrbtpnQosFMapqfE5onS3r57eUrmsbV8NItcQ00gRDQR8b5idj5oIFPCaqjIgeLxHh4XC487W5lRs3xOqq4mwDnADgL/AIndWuGYQWQLCah8myWgnmXX+i5zH0ng+NpE8d5PmEGO+EwF6GHaAHVXHxbNbckc+QCjP2G23D8+qlZg2dLx8Ja0eRAggoN2OywBgqU3FzS0OhwhwHHoY6Kt1WiPVX2AwtQUG1CZpu7xrWzJ1Cw8PC5cqv8A3c8XcLC5ggkegKCGiyVhAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAWQEBUsZnVGzyAOAgD6bIIhCucnwgdvtAJ6zMDyge6jMr06tqgDHcKjRAn+NotHUKRharqLtLxeANxDm7tc07Hf1QXNfKWiiXtDWk2AG5i/iHKyoM0wjGGm1lQP1DUYFm648M8YhWlbG6hpYDJ4mLeQm59lDGSlxlzg3kBeALC/ogs6WBptAAaLcSL+crpezmVlodUqklohzGGSRAMujrNh6qP2XygmH1HamNsJF3Hn5BdJmVeo2mXUWio+WgMNhdwBJ5WPsgmqDmmPbRbJu6+kTuY49FEzXPW0WNL2kPc6GtPAzZzjwFlBzWp3tOjVLSPEGutvIExzEgoKfF6nHW/d/Pj6clV4r/NpUxZrmaB0cHudI/1K9xhFV7WtItN+HX8FA/ZSaoEXZPpO5/0gx5hBEzWq4UCac+N0W3DG2H1gLUzCuNIgkkOa1zS7gSJN+IlbRWHemS5xkDu6YlrALAPftbjCkY7GFtV1IOYQ0ESG82i41TIB5IKZuWsInS938QLRPVreSh1g6jBY8w7a34g8V0jMyIADh4h8uifpAuFV5liKToZUaWGS4mn8uo21NO/WCEGjL8S94drcTERyDS7xkAbW5K0rsaANIAMjTEc9vKN1SPpuow4HUw/C9u3keR6FaquYOMgQ2dyAAT6oMYp7ZcALSY+qiIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgK4y6i6szu3NcWj4KkEhh+yT9k+yrcJX0ODi1rwPlcJBXX4DtMKkMbT0mOY0iOQhBXFrcKy4l535k/oFqybCVcbWa0uIZN42gXcAPLieYWc1qNr1NBOmo2A1x+F0/K7kZNiut7E4F1PvXlsRFOlqMSG3cdvmMGf0QdJUdSw1G5FOnTAE8hsPcqvzrtDSohoDg57/gHKRZzuQuPOVOzauxlJxqgFkXBghx4Njj/8Xy3NsE+o51XVqcb6dOkwNgwSbAcN4CC2xNQP7xtWYqmdckw614O2w25Cyt8C97cvqCp4nUiSC35m2OoejioFLLqlWmxpZpeGNc4ngLyXRxgbbrrchwLGUAGu7xrxMkWIPIcAg+f0s1cXDuaby+bSIAK24/HOZTcwOl+9SoOLnENgHkLD0C+hDKqQ2ptBNtuB3jkqbM+x9J7T3ZLHEG0y33uEHN4eiGNDQIA/uVqzGnLCeLRqB5EXSrWdRPd4hpY9vGJa7k4Ec0xVVhpanuIY7aB4nD+GdgeaClfWeCWh7gDcCeBAMD6r2zJajrucATzkn1W7AYqm+sP3IEkwS5xMgW4xw5L1m9Fz3E0y4lsTT+YA7ObHxCT5hBFbTfhydYDqbrObwcOnJw3ngouPw3duEHUxw1MdzaefUbHyV1iqTxhIrNc1wJI1Ag7gDf1VXRdroOHGk4Pb91x0uHlOk/VBAcsL095NyZK8oCIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIsgIMKfktTTVHWR9VCLVhroMjcILnF09OKY47Ocw+4C7bs64spYVjAXOuajbfu2kOBcQdjqPnHOFyVN7MTTg2ePqDzHRfRezuo4elqI1BsGLgwYn1iUHK9vM6aKzaJY4hgkw7TJe3yMwD+KpjmLKpYynTqlzjpHiA8RETIabifdbc3p1H4iqX93pNR0B3jIEwNIb4hYC1lbdk8tYa7XOBJYCQTDQ2NtLG2G/ElB2OWYMUWaIG5JIvqJ3J9ZtsLLDMXTa8UrNOzW8SImYHwjffdR8+x/dM8PxusOnN3v7riqua93VpkS55cJvxaROo84IQd1Uzik15Y52kgxcGPr6qRUc5zQabmbi5kgt+aIO8bLiO2FGrTrzSa0te0OufmkzufJQ8j7TOoVA2q0tB3HynqORQdj2lycYimDJa5h1AjctF3MMcx7rg6NIVi6o6bmwBIgDhO8cIX0vCUgYqnSXlsamzBbMgQV81zB7qGKq0WifGSBwg3FxtYx6INeIpaDANokTuIIm/HcL1lubfvaeph1yAHNjjY9RuveLwweZdVY0/ZcQCOgk3vx8l4/Z+6aakio4A6dJ8LbXdPPyQV2eZs+s4gkwDuTJMLVlREVidu6P9bI91FNUHdo6Rb681KI7uhf4qxFuTGHf1d/SghVHzsAPL814REBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERBuwrJcJIHE6jAgXj2ha6hkkiwkrAQBBNylniLhJLGlwaJuRAaPKSF9L7D4iq+gRWHia8wbSQQDcDa8rjMLTbhqJcRL3Q3qSSDpHQQug7HYio1z+8jxaYaPlBcGmeviH0QV+e4mtTq1AKbXAOdBsTBMi0TsoXZfPH/ALZT7w+F0s07AF21vvALoe2mGqNLcTS8bCAHt/pcPMfgFyeYUG1GCtTs4XMb2/MIOq7eVjTIcPseHzLiD+Socmw2mne7neKep4eoXQ4sNzHDNYXBtYQ5p4Ot+fsbqtfhn04a9pa6BY+XA8UF1np10aFTjEH1A/8AUqgxGDZVplrvimx5WP02XQg95gTzYfwMz9HKldW8AaABBknifM8kF32JqufgwxxJLHOZM7BpBAn1jyVJ2kcHVKjqYDarjpAdYu0jhw1dPJdB2YZ3GFNRwjWX1D5OPh+oA+q4fPyarS8XIc4kdCgoK7HBxDwQ7jqmfdb8uxTqbxEkE3bz9Oa9U80qgRq1AcHgO/qBW2jmFZ5DGENm3ga1vmZAlBJx2XspPL6nwm7aY+J3Q/Zb1VXicSaji515sALAAbADkApmeVA6pE/CAJ68fVV9VkR1AP1QeEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBEWQUAhdF2RyptUuqPEhhAA4at5PlZc80SfPifzUvD5i9gDAYYHaiB822/MWQdNm9Rj8Sxo/5bCbbSTZWOTvip56R/3GLn8bMsrsuALgcWn9FZ4DENLmEc2mDYxIIMFBdZRmgaDRq3YZAJ4dD0UOv2XdRL3UvHRedQaLls7jqNrqqzLGtpl15MmGjc3stmT5tWwtMuLtRcZ7t1xLtgOXoggZXXBBpHdsjrA/MLOIzGvTIFZzqtMWa43I8zz8101HN8PiIfWwwDuDxBJ6g2MLxicyy5lnCoOEQ79f7ug2dkcaysytTaZlsxBm4I/RQ8qyx9Y6qjXU6Dbuc/wl/8IBuBzJ9FZdns2wRq93hmaHPm+mCdN4581X9oMyeatRjj4aZ42aBuCeZhBt7RZyHDQy1Nu3WNrchyXMYfC1Qdctv8hnbkTwK84xpqRpdeZAc1zQ6NgCbKY3MqcXdpI3adweIQRqtDDvF2OpuEgxsXN3EeRBso1auKQIpMgndxmR6G6uqOZ98AAGtDB4QBeDu4nmS32UXNY0g8Zt5QZQc0DcON7yRe97g+a24/Eio/UGNYLANbMADzUeVhAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERB1vZISGA3Gp34FU3aD/MniZk878URBt7PMBLiQJGxjbyW7OneOn/ADIiCzw/wN+6PwCq89G/3R/UURB57G/8XS+8F0Xaof4k9X05/wCmP0REEDH/AOW7yn15qhzEfvz6f0hEQa8G8hoIJB1gW5EXHstuMeSHkkmNIE8juERBWoiICIiAiIg//9k=") no-repeat;
  background-size: cover;
  height: 400px;
  background-position: 0 0;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;
}

ul.nav li a, ul.nav li button{
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a, ul.nav li:hover button {
  color: white;
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
  color: rgb(138, 138, 138);
}

ul.nav li button{ 
  border: none;
  background-color: transparent;
  padding-left: 21px;
  padding-right: 21px;
  color: initial;
  text-decoration: initial;
}

@media screen and (max-width:768px){
  
 #banner {
  background-size: cover;
  height: 300px;
  background-position: right bottom;
} 
  
#banner h1{
  font-size: 3.2rem !important;
}
 
  #banner p{
    padding:0.5rem;
    text-align: center;
  }
  
}


h5.card-title{
  line-height:1.6rem;
}


#footer a {
    padding: 0.8rem;
}